// nav-bar.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

nav-bar {
    @include flex(center, center, column);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    //background-color: $sunset;
    background-image: linear-gradient(180deg, $absolute-black, $charcoal);
    box-shadow: 0 0 simple-calc(0.25, 0.5) 0 $light-charcoal;
    padding: $half-percent 0;
    min-height: $three-percent;
    nav {
        width: 65%;
        @include flex(space-around, center, row);
    }
}
@media screen and (max-width: 1200px) {
    nav-bar {
        nav {
            width: 73%;
        }
    }
}
@media screen and (max-width: 500px) {
    nav-bar {
        nav {
            width: 91%;
        }
    }
}