@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

ss-footer {
    width: 100%;
    margin-top: auto;
    //background-color: $midnight-navy;
    //background-color: transparent;
    //color: $charcoal;
    background-image: linear-gradient(to bottom, $dark-green 5%, $absolute-black 95%);
    //background-color: $sunset;

    padding: $quarter-percent $zero;
    box-sizing: border-box;
    footer {
        @include flex(center, center, row);
        width: 100%;
        color: $pristine-white;
        //color: $charcoal;
        padding: $eighth-percent 0;
        .footer-item {
            @include flex(center, center, row);
            @include size(100%, 100%);
            flex: 1;
            h6 {
                font-size: calc($h6-font-size * 0.85);
            }
            //padding: $zero $half-percent;
            .footer-item-text {
                color: $pristine-white;
            }
            &:last-child {
                border-left: $thin-border solid $pristine-white;
            }
        }
    }
}